{% extends "layout.html" %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    <br>
    <h1>株価算定を始める</h1>
    <a href="/edit" role="button">前回入力したデータを編集する</a>
    <a href="/input_financial_data" role="button">新たにデータを入力する</a>

    {% else %}
    <h1>新規ユーザー登録 or ログイン</h1>
    <a href="/signup" role="buttom">新規ユーザー登録</a>
    <a href="/login" role="button">ログイン</a>

    {% endif %}
</div>
<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>

<br>

<div class="container">
    <h3>Valuation! とは？</h3>
    <p>過去3期分の決算書（貸借対照表、損益計算書、株主資本等変動計算書）等を使って、DCF法（割引キャッシュ・フロー法）による企業価値評価結果を自動計算できます。</p>
    <br>
    <h3>留意点</h3>
    <p>過去の財務情報に基づく計算であり、割引率・成長率は既定の値を用いていることから、厳密に（コンサル等に依頼して）算出した結果とは異なります。</p>
    <p>一般的な小売業、製造業等を想定して入力項目を設定し、計算ロジックを構築しています。金融業界や電気・ガス・水道業などの業種固有の決算書には対応していません。</p>
    <p>企業価値は全部で25パターン（割引率5パターン、成長率5パターン）算出します。</p>
    <p>  ・割引率は 6.5%、7.0%、8.0%、9.0%、9.5% で計算をします。</p>
    <p>  ・成長率は -2.0%、0.0%、2.0%、4.0%、6.0% で計算をします。</p>
    <p>計算ロジックは次の書籍を参考に構築していますが、アプリ作成者が独自に構築したものです。下記書籍の著者とは一切関係がありません。</p>
    <p>  ・「企業価値経営」 伊藤邦雄 日本経済新聞出版社</p>
    <p>  ・「企業価値評価 第7版 上」「企業価値評価 第7版 下」 マッキンゼー・アンド・カンパニー　ダイヤモンド社</p>
    <p>当アプリケーションを利用して算出した評価結果は自由に利用できますが、これにより生じた損害について当アプリケーションの作成者は一切の責任を負いません。</p>
    <br>
    <h3>今後のアップデートプラン</h3>
    <p>・報告書形式での出力画面の追加</p>
    <p>・類似業種批准方式による株価算定機能の追加</p>
    <p>・配当還元方式による株価算定機能の追加</p>
</div>

{% endblock %}